<script type="text/x-handlebars-template">

    {{#if options.hideNone}}
    {{else}}
    <div class="radio">
        <label>
            <input type="radio" {{#if options.readonly}}readonly="readonly"{{/if}} name="{{name}}" value="" {{#each options.data}}data-{{@key}}="{{this}}"{{/each}}/>{{{options.noneLabel}}}
        </label>
    </div>
    {{/if}}

    {{#each selectOptions}}
    <div class="radio">
        <label>
            <input type="radio" {{#if ../options.readonly}}readonly="readonly"{{/if}} name="{{../name}}" value="{{value}}" {{#if selected}}checked="checked"{{/if}} {{#each ../options.data}}data-{{@key}}="{{this}}"{{/each}}/>{{{text}}}
        </label>
    </div>
    {{/each}}

</script>
